body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    visibility: visible;
}

.container{
    height: 100vh;
}

.content {
    background-color: var(--main-color-green);
}

.profile-picture img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

a.active{
    background-color: #efefef;
}
a.active::after{
    content: "";
    height: 50px;
    border-left: 3px solid var(--main-color);
    position: absolute;
    right: 0;
}

.menu-mobile {
    display: none;
}
.menu-mobile i{
    font-size: 2rem;
    color: var(--main-color-black);
}






