body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    visibility: visible;
}

.container{
    height: 100vh;
}

#menu {
    background-color: var(--main-color);
}
.content {
    background-color: var(--main-color-green);
}






@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    
}