#menu {
    width:300px;
}
.aside-header{
    padding: 10px 0;
    margin-bottom: 10px;
}
.aside-header .owner-profile-picture img{
    width: 120px;
    height: 120px;
    border-radius: 150px;
    border: 2px solid #efefef;
    box-shadow: 0 4px 5px 2px rgb(0 0 0/20%);
}
.aside-header .fullname{
    font-weight: bold;
    font-size: 1.4rem;
} 
.aside-header .work{
   color: var(--main-color-gray);
} 



#nav-menu ul li{
    position: relative;
}
#nav-menu ul li a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 1.1px rgb(0 0 0/10%); 

}
#nav-menu ul li a:hover{
    background-color: #efefef;
}


.aside-footer{
    margin: 25px 0;
}
.aside-footer ul li {
    width: 30px;
    height: 30px;
    background-color: #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aside-footer ul li:hover {
    background-color: var(--main-color);
}
.aside-footer ul li a i{
    font-size: 0.9rem;
}



/* *************************** HOME ***************************** */
.bg-image{
    background-image: url("/assets/image/background-home/online-marketing-2037545.png");
    background-position-x: 70%;
    background-size: cover;
    background-repeat: no-repeat;
}

.owner-data {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: var(--main-color-white);
  white-space: nowrap;
}

.content .fullname{
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif;
}

.content .owner-skills-list{
    height: 40px ;
    line-height: 40px;
    
    
}
.content .skill-name{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    text-transform: capitalize;
    opacity: 0;
    animation: skill 20s linear infinite;

}
.content .skill-name:nth-child(2){
    animation-delay: 5s
}
.content .skill-name:nth-child(3){
    animation-delay: 10s
}
.content .skill-name:nth-child(4){
    animation-delay: 15s
}

@keyframes skill {
    0%, 20%, 100%{
        opacity: 0;
    }
    5%, 15%{
        opacity: 1;
    }
    
}

.content .personal-data-item {
    margin-bottom: 15px;
}

.content .personal-data-name{
    border-bottom: 2px solid var(--main-color);

}

.content .personal-data-value a {
    color: var(--main-color-white);
}


@media screen and (min-width:600px) and (max-width: 700px) {
     .content .fullname{
        font-size: 1.8rem;
     }
     .content .personal-data-item {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
     }
}
@media screen and (max-width: 630px) {
     .content .fullname{
        font-size: 1.5rem;
     }
    .content .personal-data-item {
         font-size: 1.01rem;
         
    }
        
    .content .skill-name{
            font-size: 1.1rem;
    }
    
}
@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
        gap: 0;
    }
    aside#menu {
        width: 100%;
       
    }
    .aside-body,
    .aside-footer{
        display: none;
    }
    .aside-header{
        padding:0;
        margin-bottom: 0;
    }
    .owner-profile-picture,
    .work {
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    .fullname-menu-mobile {
        height:60px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .content .fullname{
        font-size: 1.8rem;
     }
     .content .personal-data-item {
         font-size: 1.1rem;
         
     }
     .content .skill-name{
         font-size: 1.2rem;
     }
}



@media screen and (max-width: 300px){
    .fullname{
        font-size: 1.1rem !important;
    }
    .menu-mobile i{
        font-size: 1.5rem;
    }
    .content .personal-data-item {
        font-size: 0.85rem;
        
    }
    .content .skill-name{
        font-size: 0.9rem;
    }
 
}


